@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
* {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    /* cause default font size 16 pixel and i want 10 pixel within % so the calculate is [10/16*100]=62.5%  */
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

h1 {
    font-size: 2.9rem;
    color: white;
    font-weight: 700;
}

h2 {
    font-size: 2.6rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    text-align: center;
}

h2::after {
    content: '';
    background: #fff;
    height: .3rem;
    display: block;
    width: 7rem;
    margin: auto;
    margin-top: 1.5rem;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

h4 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 1.7rem;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
}


/* ====button======= */

.btn:link,
.btn:visited,
.btn {
    background: #333;
    border-bottom: .3rem solid #000;
    border-radius: .5rem;
    padding: 1.6rem 6rem;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-top: 4.5rem;
    font-size: 2rem;
}


/* ------little description------------- */

.little-description {
    font-size: 1.6rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
    text-align: center;
}


/* ------reuseable classes ---------------- */

.row {
    max-width: 114rem;
    margin: auto;
}

section {
    padding: 8rem 0;
}


/* .clearfix::after {
    content: '';
    display: table;
    clear: both;
    visibility: hidden;
} */


/* ////////////// header part start here ///////////////////// */

header {
    /* background-color: #87509c; */
    background: linear-gradient(rgb(135, 80, 156, .9), rgb(135, 80, 156, .9)), url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

.main-nav {
    float: right;
    margin-top: 4rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 3rem;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .25rem 1.6rem;
    border-radius: .5re, ;
    font-size: 1.6rem;
    /* display: block; */
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background-color: #643a79;
}


/* =============sticky class added ================= */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135, 80, 156, .8);
    padding: 1rem 0;
    box-shadow: 0 0.2rem .3rem rgb(255 255 255 / 74%);
    z-index: 9999;
}

.sticky .logo {
    margin-top: 0;
}

.sticky .main-nav {
    margin-top: 1rem;
}

.active {
    background: #643a79;
}


/* ======mobile menu============= */

.mobile-menu span {
    color: #fff;
    font-size: 3rem;
    float: right;
    margin-top: 1.5rem;
    display: none;
    /* visibility: hidden; */
}

.overlay {
    height: 100%;
    background: #000;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all ease-in-out 0.5sec;
    width: 0;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.overlay-content a {
    text-decoration: none;
    display: block;
    font-size: 2rem;
    letter-spacing: .2rem;
    color: #999;
    padding: 1rem 0;
    text-transform: uppercase;
}

.close-btn {
    position: absolute;
    color: #fff;
    font-size: 4rem;
    text-decoration: none;
    top: 0;
    right: 5rem;
}

.mobile-menu span:hover {
    cursor: pointer;
}

.hero-txt-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    padding: 0 5rem;
}

.btn-hero:link,
.btn-hero:visited {
    background: #eb7d4b;
    border-bottom: #c86a40;
}


/* ===========header part end ============================ */


/* ==============service section start ================ */

.service-section {
    color: #fff;
    text-align: center;
    background: linear-gradient(rgb(23, 194, 164, .9), rgb(23, 194, 164, .9)), url(./img/services-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.service-section h2::after {
    background: #14a58c;
}

.service-icon {
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}


/* ----------service section end -------------- */


/* =============start team section -------------- */

.team-section {
    background: linear-gradient(rgb(231, 241, 248, .9), rgb(231, 241, 248, .9)), url(./img/team-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding-bottom: 6rem;
}

.team-section h2 {
    color: #3c4761;
}

.team-section h2::after {
    background: #c8d9e5;
}

.team-section .little-description {
    color: #3c4761;
}

.team-member {
    margin-top: 27%;
    margin-bottom: 18%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.team-section h3 {
    color: #27283d;
}

.role {
    font-size: 1.6rem;
    color: #30bae7;
    margin-top: 1.4rem;
    text-transform: capitalize;
    display: block;
}

.team-section .box p {
    color: #3c4761;
}

.social-icon {
    margin-top: 4rem;
}

.social-icon ul li {
    list-style: none;
    display: inline-block;
    margin: 0 .6rem;
}

.social-icon ul li a:link {
    color: #fff;
}

.social-icon ul li a:link i::before {
    background: #bdd1df;
    display: block;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    transition: all ease-in-out .3s;
}

.social-icon ul li a i {
    color: white;
}

.social-icon ul li a:hover i::before {
    background: #393939;
    transform: rotate(360deg);
    color: red;
}


/* =============end team section -------------- */


/* ==============skill section start =========== */

.skill-section {
    background: #fff;
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(./img/skill-bg.jpg);
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.skill-section h2,
.skill-section h3 {
    color: #3c4761;
}

.skill-section h2::after {
    background: #dfe8ed;
}

.skill-section .box {
    margin-top: 3.5rem;
}

svg.radial-progress circle {
    stroke-width: 5;
}

svg.radial-progress text {
    fill: #3c4967;
    font-size: 1.5rem;
}

svg.web-design circle {
    stroke: #30bae7;
}

svg.html-css circle {
    stroke: #d74680;
}

svg.graphics-design circle {
    stroke: #15c7a8;
}

svg.ui-ux circle {
    stroke: #eb7d4b;
}


/* ==============skill section end =========== */


/* ==============portfolio section start =========== */

.portfolio-section {
    background: #ffdd99;
    background: linear-gradient(rgb(255, 221, 153, .9), rgb(255, 221, 153, .9)), url(./img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.portfolio-section h2 {
    color: #393939;
}

.portfolio-section h2::after {
    background: #e5c37f;
}

.portfolio-filter {
    margin: 4rem 0;
}

.portfolio-filter button {
    background: #ebc985;
    font-size: 1.6rem;
    padding: 1rem 2.5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: #393939;
    margin: 0 .5rem;
    transition: all ease-in-out .4sec;
}

.portfolio-filter button:hover {
    cursor: pointer;
    box-shadow: 0 0.3rem 0.4rem #3c3939;
}

.portfolio-img {
    width: 100%;
    height: auto;
}

.portfolio-section .col:nth-child(3) {
    margin-left: 0;
}

.btn-load-more {
    background: #17c2a4;
    border: .2rem solid #14a58c;
}

.portfolio-section .mixitup-control-active {
    background: #fff;
}


/* ==============portfolio section end =========== */


/* ==============testimonial section start =========== */

.testimonial-section {
    background: #d74680;
    background: linear-gradient(rgb(215, 70, 128, .9), rgb(215, 70, 128, .9)), url(./img/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.testimonial-section h2 {
    color: #fff;
}

.testimonial-section h2::after {
    background: #b73c6d;
}

.testimonial-section p.little-description {
    color: #fff;
}

.testimonial-section .col:nth-child(3) {
    margin-left: 0;
}

.testimonial-section .col:nth-child(1),
.testimonial-section .col:nth-child(2) {
    margin-top: 4.5rem;
}

.client-photo {
    width: 10rem;
    float: left;
}

.client-photo img {
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.client-review {
    float: left;
    width: 35rem;
}

.client-review p {
    font-size: 1.8rem;
    font-style: italic;
    color: #fff;
    margin-bottom: 2rem;
    margin-top: 0;
}

.client-review .role {
    color: #ffdd99;
}


/* ==============testimonial section end =========== */


/* ==============contact section start =========== */

.contact-section {
    background: #3c5499;
    background: linear-gradient(rgb(60, 84, 153, .9), rgb(60, 84, 153, .9)), url(./img/contact-bg.jpg);
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 4rem;
}

.contact-section h2::after {
    background: #273a71;
}

.contact-section .little-description {
    color: #fff;
}

.contact-section form {
    margin-top: 4rem;
    /* border: .2rem solid red; */
    width: 70%;
    margin: 4rem auto;
}

.contact-section input[type='text'],
.contact-section input[type='email'],
.contact-section textarea {
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    color: #fff;
    font-style: 1.6rem;
    margin: .5rem 0;
    border: .1rem solid rgba(255, 0, 0, .5);
    border-radius: .5rem;
}

.contact-section textarea {
    height: 17rem;
}

.contact-section form ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.contact-section form ::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.contact-section form :-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.contact-section form ::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.contact-section form ::placeholder {
    color: #fff;
    opacity: 1;
}

.btn-submit {
    border: .3rem solid #299ec5;
    /* margin-top: 1rem; */
    background: #30bae7;
}

.btn-submit:hover {
    cursor: pointer;
}


/* ==============contact section end =========== */


/* ==============footer section start =========== */

.footer-section {
    background: #344b8e;
    padding: 3rem 0;
    text-align: center;
    border-top: .1rem solid rgba(255, 255, 255, .4);
}

.footer-section li {
    display: inline-block;
}

.footer-section li a {
    color: white;
    font-size: 1.6rem;
    margin: 0 2.2rem;
    text-transform: uppercase;
}

.footer-section li a:hover {
    color: #30bae7;
}


/* ==============footer section end =========== */